<%= simple_form_for(@mole) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :weibo_id %>
    <%= f.input :access_token %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
