<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mole.name %>
</p>

<p>
  <b>Weibo:</b>
  <%= @mole.weibo_id %>
</p>

<p>
  <b>Access token:</b>
  <%= @mole.access_token %>
</p>


<%= link_to 'Edit', edit_mole_path(@mole) %> |
<%= link_to 'Back', moles_path %>
